{% extends 'base.html' %} {% block content %}

<img src="https://maung.id/static/5ea17d7a15e02cbcd5626d4df05b4c85/9f583/FR54.jpg" width="189" height="280" class="rounded float-right">

<h1>
    Hi! Nama aku {{name}}
    <a href="{{name}}/edit"><i class="fal fa-edit fa-xs"></i></a>
</h1>

<p class="lead">NPM: <i class="fa fa-table"></i> {{npm}} </p>

<p class="lead">Ulang tahun: <i class="fa fa-calendar-exclamation"></i> {{birthday}}</p>

<p class="lead">Umur: <i class="fa fa-birthday-cake"></i> {{age}} tahun</p>

<p class="lead">Hobi: <i class="fa fa-volleyball-ball"></i> {{hobby}}</p>

<p class="lead">Kuliah: <i class="fa fa-university"></i> Fakultas Ilmu Komputer, Universitas Indonesia</p>

<p class="lead">Angkatan: <i class="fa fa-equals"></i> {{angkatan}}</p>

<p class="lead">Riwayat pendidikan: <i class="fa fa-equals"></i> </p>
<ul class="list-group list-group-flush">
    <li class="list-group-item">SD Dian Didaktika (2008-2014) <img src="https://pbs.twimg.com/profile_images/2732008449/ceb66693d30ba2967a01e3ed6b0e0266_400x400.png" width="189" height="189" class="rounded float-right"></li>
    <li class="list-group-item">SMP Labschool Kebayoran (2016-2019)<img src="https://upload.wikimedia.org/wikipedia/id/9/93/Logo_Labschool.png" width="189" height="189" class="rounded float-right"></li>
    <li class="list-group-item">SMA Labschool Kebayoran (2014-2016)<img src="https://upload.wikimedia.org/wikipedia/id/9/93/Logo_Labschool.png" width="189" height="189" class="rounded float-right"></li>
    <li class="list-group-item">Fakultas Ilmu Komputer, Universitas Indonesia (2019-)<img src="https://acakadul.files.wordpress.com/2013/08/makara-ui-fasilkom.png" width="189" height="189" class="rounded float-right"></li>
</ul>

<br>

<a class="btn btn-primary float-right" href="https://www.linkedin.com/in/ysfakhrialdrian/" target="_blank " role="button ">
    <i class="fab fa-linkedin-in"></i>
</a>
<a class="btn btn-secondary float-right" href="https://www.instagram.com/fakhrialdrn/" target="_blank " role="button ">
    <i class="fab fa-instagram"></i> fakhrialdrn
</a>
<a class="btn btn-success float-right disabled" href="" role="button ">
    <i class="fab fa-line"></i> aldrianyf
</a>

<br><br><br>
<blockquote class="blockquote">
    <p class="mb-0">
        Halo! Namaku Yusuf Fakhri Aldrian. Saya adalah orang yang ambisius. Meski begitu saya juga orang yang selow, tidak terlalu tertekan dan enak dalam pergaulan.
    </p>
    <footer class="blockquote-footer">Biografi</footer>
</blockquote>

<p class="mt-5 mb-3 text-muted ">© 2020 Yusuf Fakhri Aldrian</p>
</div>
</div>
<br><br> {% endblock %}