{% extends 'base.html' %} {% block content %}



<div class="text-center">
    <img src="https://maung.id/static/5ea17d7a15e02cbcd5626d4df05b4c85/9f583/FR54.jpg" width="189" height="280" class="rounded float-center">
    <h5> Halo! </h5>
    <h5> Ini website Yusuf Fakhri Aldrian </h5>
    <p> Seorang pembelajar programming dari Fasilkom UI </p>
    <p class="lead"> Salam kenal! </p>
    <a class="btn btn-success" href="/profile" role="button ">
        <i class="fas fa-user"></i> Lihat profil (Story 1)
    </a>
    <br><br>
    <a class="btn btn-info" href="/matkuls" role="button ">
        <i class="fas fa-books"></i> Ke laman mata kuliah (Story 5)
    </a>
</div>

</div>
</div>
<br><br> {% endblock %}