{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="/">
        <img src="{% static 'img/django-logo-negative.svg' %}" height=30px alt=""> Yusuf Fakhri Aldrian
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">


        <a class="navbar-brand" href="#">

        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Beranda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/matkuls">Matkul</a>
            </li>
        </ul>

        <ul class="navbar-nav my-2 my-sm-0y">
            <li class="nav-item">
                <a class="nav-link text-light disabled" href="#">Usernamemu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light disabled" href="#">Emailmu</a>
            </li>
            <li class="nav-item">

                <a class="btn btn-outline-danger" href="/story/logout" role="button">Logout</a>
            </li>
        </ul>

    </div>
</nav>